# /
/Temp
/Library
/target
/test-results
/obj
/*.csproj
/*.csproj.user
/*.pidb
/*.sln
/*.suo
/*.userprefs
/*.patch
/*.log
/*.vs
*.unityproj
*.pyc
*.pidb
*.pidb.meta
.DS_Store
.db
Thumbs.db

UpliftTesting/bin
UpliftTesting/obj
UpliftTesting/*.csproj
UpliftTesting/*.csproj.user
UpliftTesting/*.sln